
table {
        border: 1px solid black;
        border-collapse: collapse;
        background:darkgrey;
        
    }
    #val{
        height: 50px;
        background: burlywood;
    }
    table tr,td{
        padding: 8px;
    }
    .center{
        margin-left: auto;
        margin-right: auto;
    }
